# 타이타닉 생존자 데이터 분석

## 타이타닉호에서 어떤 승객이 생존했는지 데이터로부터 분석


1912년 4월 15일 타이타닉호 침몰로 2224명중 1502이 사망했다. 생존한 승객이 성별, 나이, 선실 등급과 어떤 관계가 있었는지를 분석한다.


## 주어진 데이터 내용

  * **Survival** - Survival. 0 = No, 1 = Yes
  * **Pclass** - Ticket class. 1 = 1st, 2 = 2nd, 3 = 3rd
  * **Sex** - Sex.
  * **Age** - Age in years.
  * **SibSp** - # of siblings / spouses aboard the Titanic.
  * **Parch** - # of parents / children aboard the Titanic.
  * **Ticket** - Ticket number.
  * **Fare** - Passenger fare.
  * **Cabin** - Cabin number.
  * **Embarked** - Port of Embarkation. C = Cherbourg, Q = Queenstown, S = Southampton

## Load Dataset

'titanic_train.csv' 파일을 읽어서 변수 train에 저장하고,

PassengerId를 index로 지정

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
train = pd.read_csv("titanic_train.csv", index_col=["PassengerId"])

print(train.shape)
train.head()

(891, 11)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Preprocessing

### Encode Sex

'Sex_encode'라는 이름의 column을 생성하고 성별이 남자면 0, 여자면 1로 코딩

- .loc 활용

In [4]:
train.loc[train["Sex"] == "male", "Sex_encode"] = 0
train.loc[train["Sex"] == "female", "Sex_encode"] = 1

print(train.shape)
train[["Sex", "Sex_encode"]].head()

(891, 12)

                Sex  Sex_encode
PassengerId
1              male         0.0
2            female         1.0
3            female         1.0
4            female         1.0
5              male         0.0

### Encode Embarked

Embarked column의 값이 C일 때, Q일 때, S일 때 값이 1이 되도록 원핫인코딩
- .get_dummies 활용

In [5]:
train_embarked = pd.get_dummies(train["Embarked"], prefix="Embarked")

print(train_embarked.shape)
train_embarked.head()

(891, 3)

             Embarked_C  Embarked_Q  Embarked_S
PassengerId
1                     0           0           1
2                     1           0           0
3                     0           0           1
4                     0           0           1
5                     0           0           1

In [6]:
train = pd.concat([train, train_embarked], axis=1)

print(train.shape)
train[["Embarked", "Embarked_C", "Embarked_Q", "Embarked_S"]].head()

(891, 15)

            Embarked  Embarked_C  Embarked_Q  Embarked_S
PassengerId
1                  S           0           0           1
2                  C           1           0           0
3                  S           0           0           1
4                  S           0           0           1
5                  S           0           0           1

In [7]:
train.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked', 'Sex_encode', 'Embarked_C', 'Embarked_Q',
       'Embarked_S'],
      dtype='object')

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
feature_names = ["Pclass", "Sex_encode", "Fare", "SibSp", "Parch",
                 "Embarked_C", "Embarked_Q", "Embarked_S"]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(train[feature_names], train['Survived'], random_state=42)

# kNN

n_neighbors를 조정해가면서 score 확인하기

In [11]:
from sklearn.neighbors import KNeighborsClassifier

n_neighbors가 3일 때

In [13]:


print("Training set score: {:.2f}".format())
print("Test set score: {:.2f}".format())

IndexError: tuple index out of range

n_neighbors가 6일 때

In [ ]:


print("Training set score: {:.2f}".format())
print("Test set score: {:.2f}".format())

n_neighbors가 9일 때

In [ ]:


print("Training set score: {:.2f}".format())
print("Test set score: {:.2f}".format())

n_neighbors를 range(1, 11)에서 돌려서

각각의 training score, test score를 list 형태로 저장하고

training accuracy와 test accuracy의 그래프를 출력해 보세요

In [ ]:
for i in neighbors_settings:

In [ ]:
plt.plot(neighbors_settings, training_accuracy, label="training accuracy")
plt.plot(neighbors_settings, test_accuracy, label='test accuracy')
plt.ylabel('Accuracy')
plt.xlabel('n_neighbors')
plt.legend()

# Logistic regression

In [ ]:
from sklearn.linear_model import LogisticRegression

C를 조정해가면서 score 확인하기(L2)

C가 default일 때

In [ ]:


print("Training set score: {:.3f}".format())
print("Test set score: {:.3f}".format())

C가 100일 때

In [ ]:


print("Training set score: {:.3f}".format())
print("Test set score: {:.3f}".format())

C가 0.01일 때

In [ ]:


print("Training set score: {:.3f}".format())
print("Test set score: {:.3f}".format())

C를 조정해가면서 score 확인하기(L1)

C가 default일 때

In [ ]:


print("Training set score: {:.3f}".format())
print("Test set score: {:.3f}".format())

C가 100일 때

In [ ]:


print("Training set score: {:.3f}".format())
print("Test set score: {:.3f}".format())

C가 0.01일 때

In [ ]:


print("Training set score: {:.3f}".format())
print("Test set score: {:.3f}".format())