## Practice 7

### Numpy

In [6]:
import numpy as np
# First 20 countries with employment data
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

# Employment data in 2007 for those 20 countries
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

#### practice 7-1: 다음의 값을 출력하시오

* 3번째 나라의 이름
* 2~10번째 나라의 이름
* 17번째 이후의 나라의 이름

In [25]:
print(countries[2])
for i in range(1, 10):
    print(countries[i])

print('*************')
    
for i in range(17, len(countries)):
    print(countries[i])

Algeria
Albania
Algeria
Angola
Argentina
Armenia
Australia
Austria
Azerbaijan
Bahamas
*************
Bhutan
Bolivia
Bosnia and Herzegovina

#### practice 7-2: 다음과 같이 각 나라의 employment data를 출력하시오
```
 Country Afghanistan has employment 55.70000076
 Country Albania has employment 51.40000153
 ...
```

In [28]:
for i in range(len(countries)):
    print('Country ' + countries[i] + ' has employment ' + str(employment[i]))

Country Afghanistan has employment 55.70000076
Country Albania has employment 51.40000153
Country Algeria has employment 50.5
Country Angola has employment 75.69999695
Country Argentina has employment 58.40000153
Country Armenia has employment 40.09999847
Country Australia has employment 61.5
Country Austria has employment 57.09999847
Country Azerbaijan has employment 60.90000153
Country Bahamas has employment 66.59999847
Country Bahrain has employment 60.40000153
Country Bangladesh has employment 68.09999847
Country Barbados has employment 66.90000153
Country Belarus has employment 53.40000153
Country Belgium has employment 48.59999847
Country Belize has employment 56.79999924
Country Benin has employment 71.59999847
Country Bhutan has employment 58.40000153
Country Bolivia has employment 70.40000153
Country Bosnia and Herzegovina has employment 41.20000076

#### practice 7-3: employment의 mean, std, max, mean 을 출력하시오

In [30]:
print(employment.mean())
print(employment.std())
print(employment.max())
print(employment.min())

58.68500003850001
9.338269113687888
75.69999695
40.09999847

In [34]:
# First 20 countries with school completion data
countries = np.array([
       'Algeria', 'Argentina', 'Armenia', 'Aruba', 'Austria','Azerbaijan',
       'Bahamas', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bolivia',
       'Botswana', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Cape Verde'
])

# Female school completion rate in 2007 for those 20 countries
female_completion = np.array([
    97.35583,   94.62379,   83.02998,   95.14321,   83.69019,
    98.49185,   99.88828,   95.43974,   92.11484,   91.54804,
    95.98029,   98.22902,   96.12179,   19.28105,   97.84627,
    29.07386,   38.41644,   90.70509,   51.7478 ,   95.45072
])

# Male school completion rate in 2007 for those 20 countries
male_completion = np.array([
     95.47622,   50.66476,   99.7926 ,   91.48936,   73.22096,
     97.80458,   83.81398,   88.11736,   93.55611,   87.76347,
     82.45714,   98.73953,   92.22388,   15.3892 ,   98.70502,
     37.00692,   45.39401,   91.22084,   62.42028,   90.66958
])

#### practice 7-4: 다음의 array는 선택된 20개 나라의 남성과 여성의 school completion data이다. 남녀의 completion 차가 가장 큰 나라를 찾는 함수를 작성하시오

In [36]:
maxnum = 0.0
temp = 0.0
position = 0
for i in range(len(countries)):
    temp = abs((female_completion[i] - male_completion[i]))
    if temp > maxnum:
        maxnum = temp
        position = i
print(countries[position])

Argentina

### Pandas

'weather_year.csv' column명 바꾸기

In [ ]:
data.columns = ["date", "max_temp", "mean_temp", "min_temp", "max_dew",
                "mean_dew", "min_dew", "max_humidity", "mean_humidity",
                "min_humidity", "max_pressure", "mean_pressure",
                "min_pressure", "max_visibilty", "mean_visibility",
                "min_visibility", "max_wind", "mean_wind", "min_wind",
                "precipitation", "cloud_cover", "events", "wind_dir"]

DataFrame 병합하기

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K4', 'K2', 'K3']})

right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3'],
                      'key': ['K0', 'K1', 'K2', 'K3']})

#### practice 7-5
* 주어진 employment.csv파일은 header가 없는 파일이다. 불러온 후 column의 header를 추가한다.
* 국가명을 인덱스로 지정한다.
* 불필요한 컬럼이 있으면 삭제한다.
* 상위 5개를 출력한다.

#### practice 7-6
* 다음 2개의 파일도 불러와서 employment.csv와 같은 방식으로 편집한다.
* life_expectancy.csv
* gdp_per_capita.csv

#### practice 7-7
* 세개의 데이터프레임을 하나로 합치자.
* 데이터프레임을 합칠 때는 merge, join 등의 개념이 사용된다.
* http://pandas.pydata.org/pandas-docs/stable/merging.html 를 참고하자.
* (힌트) concat 이 사용된다.

소팅을 해보자. 소팅은 다음과 같이 한다.
* data.sort_values([colname1, colname2, ...], ascending=[True, False, ...])

#### practice 7-8
* gdp 상위 10개 국가의 평균과 하위 10개 국가의 리스트와 값을 구하고 그리고 평균의 차이를 구해보자.