In [28]:
import pandas as pd

In [20]:
data = pd.read_csv('../day10_data/chicken.csv')

In [21]:
data.head()

   Weather  Weekend  Baseball  Temp  Sales
0        0        0         0  32.1     25
1        1        0         1  29.3     45
2        0        1         1  32.6     58
3        1        1         1  31.3     66
4        1        0         0  30.1     28

In [22]:
from sklearn.model_selection import train_test_split

In [23]:

features = ['Weather', 'Weekend', 'Baseball', 'Temp']
X_train, X_test, y_train, y_test = train_test_split(data[features], data['Sales'], random_state = 2)                #75:25로 랜던 분할(default)
#X_train, X_test, y_train, y_test = train_test_split(df[features], df['Sales'], test_size=0.15)#85:15로 랜덤 분할

In [24]:
X_train.head()

    Weather  Weekend  Baseball  Temp
28        1        0         0  26.7
19        0        0         0  32.3
14        0        0         0  32.4
10        0        1         0  33.2
4         1        0         0  30.1

In [25]:
X_test.head()

    Weather  Weekend  Baseball  Temp
16        0        1         1  31.6
0         0        0         0  32.1
26        0        0         0  29.3
24        0        1         1  32.1
12        0        0         1  32.9

In [26]:
y_train.head()

28    31
19    31
14    16
10    35
4     28
Name: Sales, dtype: int64

In [27]:
y_test.head()

16    43
0     25
26    17
24    57
12    23
Name: Sales, dtype: int64

In [29]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from matplotlib import pyplot as plt

In [30]:
lm = linear_model.LinearRegression()
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)